@import "../../Screens/HomeScreen/base.scss";
.Categories {
	span {
		background-color: white;
		margin: 0.2rem;
		padding: 0.2rem;
		border-radius: 3rem;
		/* margin-top: 7rem; */
		padding: 0.4rem 0.8rem;
		position: relative;
		top: 0.5rem;
        cursor: pointer;
	}
    .ActiveSpan{
        background-color: green;
    }
}
