@import "../../Screens/HomeScreen/base.scss";
.video {
	background-color: white;
	width: 97%;
	&_thambnil img {
		width: 100%;
	}
	.video_views {
		font-size: small;
	}
	.channel {
		font-size: small;
	}
}
.channelicon {
	width: 4rem;
	height: 6rem;
	overflow: hidden;
	padding-top: 0.8rem;
	padding-left: 0.4rem;
	img {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
}

.video_thambnil {
	position: relative;
	span {
		bottom: 8px;
		right: 10px;
		position: absolute;
		background-color: black;
		color: white;
		border-radius: 0.2rem;
		padding: 0px 0.5rem;
	}
}
