@import "../../Screens/HomeScreen/base.scss";
.login-container {
	height: 100vh;
	background-color: whitesmoke;
}
.login_main {
	width: 30rem;
	height: 40rem;
	background-color: rgb(251, 246, 247);
	.login_logo {
		img {
			width: 100%;
		}
	}
	button {
		border-radius: 1rem;
		padding: 1rem;
		outline: none;
		border: none;
		&:hover {
			background-color: black;
			transition: 0.2s ease-in;
			color: white;
		}
	}
}
